name: Publish

on:
  push:
    tags:
      - v[0-9].**

jobs:
  prereqs:
    name: Prereqs
    runs-on: ubuntu-24.04
    steps:
      - uses: StyraOSS/styra-init-action@main

  goreleaser:
    name: GoReleaser
    runs-on: ubuntu-24.04
    needs: prereqs
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@bb252dcb5c8609a31087e7993daa086f5a1c0069 # v1.0.0
      - name: Free disk space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo apt clean
          docker image ls -aq | xargs -r docker rmi
          df -h
      - uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          path: enterprise-opa
      - id: go_version
        name: Read go version
        run: echo "go_version=$(cat .go-version)" >> $GITHUB_OUTPUT
        working-directory: enterprise-opa
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.go_version.outputs.go_version }}
          cache-dependency-path: enterprise-opa/go.sum
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          install-only: true
      - name: Install goversioninfo for Windows binary icon and version
        run: go install github.com/josephspurrier/goversioninfo/cmd/goversioninfo@v1.5.0
      - name: Run GoReleaser
        run: make release-ci
        working-directory: enterprise-opa
        env:
          HOSTNAME: github.actions.local
          TAP_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_NOTES: ../release-notes.md

  kopush:
    name: Ko Push
    needs: prereqs
    runs-on: ubuntu-24.04
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@bb252dcb5c8609a31087e7993daa086f5a1c0069 # v1.0.0
      - uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - id: go_version
        name: Read go version
        run: echo "go_version=$(cat .go-version)" >> $GITHUB_OUTPUT
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ steps.go_version.outputs.go_version }}
      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
      - name: Build and Push Images
        run: make auth-deploy-ci-debug auth-deploy-ci
        env:
          AUTH_RELEASE: ${{ github.ref_name }}

  proto-docs-push:
    name: Push Protobuf docs to BSR
    needs: prereqs
    runs-on: ubuntu-24.04
    env:
      BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
    if: false # skip: update BUF_TOKEN, buf registry references first
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@bb252dcb5c8609a31087e7993daa086f5a1c0069 # v1.0.0
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      # Note(philip): We need to install the `buf` CLI before we can lint our protobuf sources.
      # The action uses the repo-scoped GITHUB_TOKEN to allow one of its dependencies (Octokit)
      # to skip Github API rate limits when fetching the latest buf build artifact.
      - uses: bufbuild/buf-setup-action@a47c93e0b1648d5651a065437926377d060baa99 # v1.50.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      # Note(philip): We do not use bufbuild/buf-push-action@v1 here, because that action
      # always creates docs under the Git commit SHA, and we'd like to have nice semver-style
      # tag names for releases.
      - name: Manually publish to BSR
        run: buf push proto --tag ${{ github.ref_name }}

  pr-artifacts:
    name: Publish proto defs and capabilities.json using a PR
    needs: prereqs
    runs-on: ubuntu-24.04
    if: false # skip: figure out where/if/how we want to do this
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@bb252dcb5c8609a31087e7993daa086f5a1c0069 # v1.0.0
      - name: Check out code for EOPA
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
      - name: Pick up OPA version
        id: supported-opa-version
        run: echo "opa_version=v$(build/get-opa-version.sh)" >> $GITHUB_OUTPUT
      - name: Pick up Regal version
        id: supported-regal-version
        run: echo "regal_version=v$(build/get-regal-version.sh)" >> $GITHUB_OUTPUT
      - name: Check out code for the public repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: open-policy-agent/eopa
          path: _public
          persist-credentials: false
      # Copy files, generate commit on local branch, then push branch to remote.
      - name: Copy over files from private -> public repo
        run: |
          # Copy protobuf files over.
          mkdir -p _public/proto/eopa
          cp -r proto/eopa/ _public/proto/
          # Copy capabilities.json files over.
          mkdir -p _public/capabilities
          cp capabilities/*.json _public/capabilities/
          # Update OPA badge version to match our currently-supported version.
          sed -i "s|https://openpolicyagent.org/badge/v[0-9.]\+|https://openpolicyagent.org/badge/${{ steps.supported-opa-version.outputs.opa_version }}|g" _public/README.md
          sed -i "s|\[OPA v[0-9.]\+\]|\[OPA ${{ steps.supported-opa-version.outputs.opa_version }}\]|g" _public/README.md
          # Update Regal badge version to match our currently-supported version.
          sed -i "s|https://img.shields.io/github/v/release/styrainc/regal?filter=v[0-9.]\+|https://img.shields.io/github/v/release/styrainc/regal?filter=${{ steps.supported-regal-version.outputs.regal_version }}|g" _public/README.md
          sed -i "s|https://github.com/StyraInc/regal/releases/tag/v[0-9.]\+|https://github.com/StyraInc/regal/releases/tag/${{ steps.supported-regal-version.outputs.regal_version }}|g" _public/README.md
          sed -i "s|\[Regal v[0-9.]\+\]|\[Regal ${{ steps.supported-regal-version.outputs.regal_version }}\]|g" _public/README.md
          # Ensure the changes are picked up, especially if we added new files/folders.
          cd _public
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          # Ensure branch exists on remote for the 'gh pr create' command later.
          git checkout -b artifacts-${{ github.ref_name }} origin/main
          git commit -am "Update public artifacts for ${{ github.ref_name }} release"
          git push -u origin artifacts-${{ github.ref_name }}
      # Do a pre-flight check to ensure we don't make a needless PR.
      - name: Check for relevant file changes in git diffs for public repo
        id: changes
        run: |
          cd _public;
          if git diff --name-only -r main artifacts-${{ github.ref_name }} | grep -q 'proto/';
          then
            echo "proto=true" >> $GITHUB_OUTPUT
          fi
          if git diff --name-only -r main artifacts-${{ github.ref_name }} | grep -q 'capabilities/';
          then
            echo "capabilities=true" >> $GITHUB_OUTPUT
          fi
          if git diff --name-only main artifacts-${{ github.ref_name }} | grep -q 'README.md';
          then
            echo "badges=true" >> $GITHUB_OUTPUT
          fi
      - name: Create PR if changes detected
        if: steps.changes.outputs.proto == 'true' || steps.changes.outputs.capabilities == 'true' || steps.changes.outputs.badges == 'true'
        run: |
          cd _public
          message="Update "
          if [[ "${{ steps.changes.outputs.badges }}" == "true" ]]; then
            message+="README, "
          fi
          if [[ "${{ steps.changes.outputs.proto }}" == "true" ]]; then
            message+="proto defs, "
          fi
          if [[ "${{ steps.changes.outputs.capabilities }}" == "true" ]]; then
            message+="capabilities JSON files, "
          fi
          # Remove trailing comma and space
          message="${message%, }"
          gh pr create -B main --head artifacts-${{ github.ref_name }} --title "$message for ${{ github.ref_name }} release" --body 'Created by Github action'
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token }}
