name: Update base image

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  prereqs:
    name: Prereqs
    runs-on: ubuntu-24.04
    steps:
      - uses: StyraOSS/styra-init-action@main

  deploy:
    name: Build and push base images
    needs: prereqs
    runs-on: ubuntu-24.04
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@bb252dcb5c8609a31087e7993daa086f5a1c0069 # v1.0.0
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Build & Publish OCI
        id: apko
        uses: chainguard-images/actions/apko-publish@5c3ba3d31d741657aa363519375e2331e8548317
        with:
          config: apko.yaml
          archs: x86_64,aarch64
          tag: ghcr.io/open-policy-agent/eopa-base:latest
      - name: Build & Publish OCI (Debug)
        id: apko-debug
        uses: chainguard-images/actions/apko-publish@5c3ba3d31d741657aa363519375e2331e8548317
        with:
          config: apko-debug.yaml
          archs: x86_64,aarch64
          tag: ghcr.io/open-policy-agent/eopa-debug:latest
