name: Update base image

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  prereqs:
    name: Prereqs
    runs-on: ubuntu-24.04
    steps:
      - uses: StyraOSS/styra-init-action@main

  deploy:
    name: Build and push base images
    needs: prereqs
    runs-on: ubuntu-24.04
    steps:
      - name: Tune GitHub-hosted runner network
        uses: smorimoto/tune-github-hosted-runner-network@bb252dcb5c8609a31087e7993daa086f5a1c0069 # v1.0.0
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Build & Publish OCI
        id: apko
        uses: chainguard-images/actions/apko-publish@9deb5a6b50a997611d5720c60cb3df07895cb50f
        with:
          config: apko.yaml
          archs: x86_64,aarch64
          tag: ghcr.io/open-policy-agent/eopa-base:latest
      - name: Build & Publish OCI (Debug)
        id: apko-debug
        uses: chainguard-images/actions/apko-publish@9deb5a6b50a997611d5720c60cb3df07895cb50f
        with:
          config: apko-debug.yaml
          archs: x86_64,aarch64
          tag: ghcr.io/open-policy-agent/eopa-debug:latest
